@import "_variables";

h2 {
  color: $bg;
}

.box {
  margin-top: 20px;
  &:hover {
    background-color: lightseagreen;
  }
  h2 {
    color: lightblue;
    &:hover {
      color: lime;
    }
  }
  button {
    color: lightcoral;
  }
}
